<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{title}}</span>
            <span class="md-subhead" style="margin-right: 50px; white-space: pre-wrap;">{{body}}</span>
            <span class="md-subhead" style="margin-right: 50px; white-space: pre-wrap;">{{subBody}}</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-md card-media">
                <img src="resources/img/avatar.png">
            </div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="cancel()" >{{cancelTitle}}</md-button>
        <md-button ng-click="ok()">{{okTitle}}</md-button>
    </md-card-actions>
</md-card>